{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <table class="table table-striped">
        <tbody class="thead-dark">
          <tr>
            <th scope="col"><h2 class="section-heading mb-4">{{object.name}}</h2></th>
            <th>Descripción: {{object.description}}</th>
            <th>
              Creado: {{object.created|date:"d/m/y h:m:s"}}<br>
              Actualizado: {{object.updated|date:"d/m/y h:m:s"}}<br>
              Finalizado: {{object.finished|date:"d/m/y h:m:s"}}
            </th>
            <th>
              {% if request.user.is_staff %}
                <p><a href="{% url 'module_update' object.id %}">Editar</a></p>
              {% endif %}
            </th>
          </tr>
        </tbody>
      </table>
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"><h5 class="section-heading mb-4">Programas</h5>
              <a href="{% url 'program_create' object.id %}">nuevo programa</a>
            </th>
            <th scope="col"><h5 class="section-heading mb-4">Programadores</h5>
              <a href="#">Agregar programador</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <table class="table table-hover">
                <tbody>
                  {% for program in programs %}
                    <tr class="table-secondary">
                      <td><h6>{{program.name}}</h6></th>
                      <td>
                        {% if request.user.is_staff %}
                          <p><a href="{% url 'program_detail' program.id program.name|slugify %}">Leer más</a></p>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </td>
            <td>
              <p>programadores</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}