{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{object.name}}{% endblock %}
{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <table class="table table-striped">
        <tbody class="thead-dark">
          <tr>
            <th scope="col"><h2 class="section-heading mb-4">{{object.name}}</h2></th>
            <th>Descripción: {{object.description}}</th>
            <th>
              {% if request.user.is_staff %}
                <p><a href="{% url 'phase_update' object.id %}">Editar</a></p>
              {% endif %}
            </th>
          </tr>
        </tbody>
      </table>
      

    </div>
  </div>
</main>

{% endblock %}