{% extends 'core/base.html' %}
{% load static %}
{% block title %}Actualizar proyecto{% endblock %}
{% block content %}
{% include 'projects/includes/projects_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
        {% if 'ok' in request.GET %}
          <p style="color: chartreuse;">
            Se edito correctamente. 
          </p>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
          <div class="text-center">
            <input type="submit" class="btn btn-primary btn-block" value="Actualizar proyecto" />
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}