{% extends 'core/base.html' %}
{% load static %}
{% block title %}Borrar página{% endblock %}
{% block content %}
{% include 'projects/includes/projects_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
          <form action="" method="post">{% csrf_token %}
            <p>¿Estás seguro de que quieres borrar <b>"{{ object }}"</b>?</p>
            <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar la página" />
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}