{% extends 'core/base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
{% include 'projects/includes/projects_menu.html' %}

<main role="main">
  <div class="container mb-4">
      <div class="row mt-3">
        <table class="table table-hover table-dark table-striped ">
          <tbody>
            {% for project in project_list %}
            <tr>
              <th scope="col">
                <h2 class="mb-4">{{project.name}}</h2>
              </th>
              <td>
                Creado: {{project.created|date:"d/m/y h:m:s"}}<br>
                Actualizado: {{project.updated|date:"d/m/y h:m:s"}}
              </td>
              <td>
                <a href="{% url 'project_detail' project.id project.name|slugify %}">Leer más</a>
              </td>
              {% if request.user.is_staff %}
              <td>
                  <a href="{% url 'project_update' project.id %}">Editar</a>
              </td>
              <td>
                  <a href="{% url 'project_delete' project.id %}">Borrar</a>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</main>
{% endblock %}