{% load static %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>

{% if request.user.is_staff %}
    <input type="button" value="Iniciar"><a href=""></a>
    <input type="button" value="Voy al baño">
    <input type="button" value="Voy a comer">
    <input type="button" value="Pequeño break">
    <input type="button" value="Terminar">

{% endif %}